@page "/home/dashboard"

<h1>Home</h1>

@code {
    [CascadingParameter] public Task<AuthenticationState> AuthenticationState { get; set; }
    protected async override Task OnInitializedAsync()
    {
        await CheckUserAuthentication();
    }

    private async Task CheckUserAuthentication()
    {
        if (AuthenticationState == null)
        {
            NavManager.NavigateTo("/identity/account/login");
            return;
        }

        var authState = await AuthenticationState;
        var user = authState?.User;

        if (user != null && user.Identity != null && user.Identity.IsAuthenticated)
        {
            NavManager.NavigateTo("/home/dashboard");
        }
        else
        {
            NavManager.NavigateTo("/identity/account/login");
        }
    }
}
